<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PaddlePaddle</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<header class="site-header">
    <div class="row">
        <div class="logo">
            <img src="../../src/images/logo.png">
        </div>
        <nav class="top-nav">
            <ul class="site-links">
                <li><a>主页</a></li>
                <li><a>快速开始</a></li>
                <li><a>文档中心</a></li>
                <li><a>关于我们</a></li>
            </ul>
            <div class="language-switcher">
                <a>中文<i class="fa" aria-hidden="true"></i></a>
                <ul>
                    <li><a href="./home_en.html">English</a></li>
                    <li><a href="./home_cn.html">中文</a></li>
                </ul>
            </div>
            <div class="github-fork">
                <a href="https://api.github.com/repos/PaddlePaddle/Paddle/forks" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    <span>Fork me on Github</span>
                </a>
            </div>
        </nav>
    </div>
</header>
<section class="banner">
    <div class="row">
        <h1>易用易学的分布深度学习平台</h1>
        <p>正在为100+项产品提供深度学习算法支持</p>
        <div>
            <a class="quick-start">Quick Start</a>
        </div>
        <div>
            <div class="github-counter">
                <span><i class="fa fa-star" aria-hidden="true"></i>Star</span>
                <span id="star-counter"></span>
            </div>
            <div class="github-counter">
                <span><i class="fa fa-code-fork" aria-hidden="true"></i>Fork</span>
                <span id="fork-counter"></span>
            </div>
        </div>
    </div>
</section>
<section class="services">
    <h2>丰富的算法服务</h2>
    <div class="row">
        <div>
            <img class="service-icon" src="../images/service-1.png">
        </div>
        <div>
            <div class="service-desc">
                <h3>机器视觉</h3>
                <p>卷积神经 络可以识别图像中的主要对象,并输出分类结果</p>
                <div>
                    <a role="button" class="view-more">查看更多</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="service-desc">
                <h3>自然语言理解</h3>
                <p>利用LSTM网络从IMDB电影评论的中分析出评论者情绪的正面和负面</p>
                <div>
                    <a role="button" class="view-more">查看更多</a>
                </div>
            </div>
        </div>
        <div>
            <img class="service-icon" src="../images/service-2.png">
        </div>
    </div>
    <div class="row">
        <div>
            <img class="service-icon" src="../images/service-3.png">
        </div>
        <div>
            <div class="service-desc">
                <h3>搜索引擎排序</h3>
                <p>分析 户特征、电影特征、点评分数,预测新 户对 同电影的点评分数</p>
                <div>
                    <a role="button" class="view-more">查看更多</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features">
    <h2>技术和服务优势</h2>
    <div class="row">
        <div class="feature-desc">
            <div class="feature-icon">
                <img src="../images/feature-1.png">
            </div>
            <h3>易用性</h3>
            <p>为用户提供了直观、灵活的数据接口和模型配置接口</p>
        </div>
        <div class="feature-desc">
            <div class="feature-icon">
                <img src="../images/feature-2.png">
            </div>
            <h3>灵活性</h3>
            <p>支持CNN、RNN等多种神经网络结构和优化算法。简单书写配置文件即可实现复杂模型</p>
        </div>
        <div class="feature-desc">
            <div class="feature-icon">
                <img src="../images/feature-3.png">
            </div>
            <h3>高效性</h3>
            <p>在计算、存储、通信、架构等方面都做了高效优化，充分发挥各种资源的性能</p>
        </div>
        <div class="feature-desc">
            <div class="feature-icon">
                <img src="../images/feature-4.png">
            </div>
            <h3>扩展性</h3>
            <p>全面支持多核、多GPU、多机环境。轻松应对大规模数据训练需求</p>
        </div>
    </div>
</section>
<section class="get-started">
    <div class="row">
        <h2>现在开始使用PaddlePaddle</h2>
        <p>易学易用的分布式深度学习平台</p>
        <div>
            <a role="button" class="quick-start">Quick Start</a>
        </div>
    </div>
</section>
<footer class="footer-nav">
    <div class="row">
        <div class="contact-us">
            <img src="../images/envelope.png">
            <span>联系我们：</span>
            <a href="mailto:paddle-dev@baidu.com">paddle-dev@baidu.com</a>
        </div>
    </div>
    <div class="row">
        <ul class="friendly-links">
            <li><a>百度大脑</a></li>
            <li><a>百度深度学习实验室</a></li>
            <li><a>百度大数据实验室</a></li>
            <li><a>百度语音</a></li>
            <li><a>百度翻译开放平台</a></li>
            <li><a>自然语言处理云(NLPC)</a></li>
            <li><a>大数据用户画像</a></li>
            <li><a>百度知识图谱</a></li>
            <li><a>百度大数据ID-Mapping</a></li>
        </ul>
        <ul class="friendly-links">
            <li><a>Global Session(Odin)</a></li>
            <li><a>Recsys推荐云平台</a></li>
            <li><a>到店大数据(谛听)</a></li>
            <li><a>数据知识图谱</a></li>
            <li><a>PIE网页信息抽取平台</a></li>
            <li><a>知识图谱开放平台</a></li>
        </ul>
    </div>
    <div class="row">
        <p class="copyright">©Copyright 2017, PaddlePaddle developers.</p>
    </div>
</footer>
<script src="../js/common.bundle.js"></script>
<script src="../js/home.bundle.js"></script>
</body>
</html>